body {
  background: url('http://cdn.wallpapersafari.com/88/18/b7yhi5.jpg') !important;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
