body {
  background: url('http://res.freestockphotos.biz/pictures/9/9343-a-cute-orange-kitten-isolated-on-a-white-background-pv.jpg') !important;
}

html, body, div, h1, h2, h3, h4, h5, h6, dd, dl, ul, ol, li, menu, main, pre, p, figcaption, figure, hr {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
