body {
  background: url('http://68.media.tumblr.com/f266789613a1e3b3ad41e86966c3a48b/tumblr_mkv2m1LXGr1rgr4l6o1_250.gif') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
